@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700&display=swap');

:root {
  --rich-black: #04080F;
  --glaucous: #507DBC;
  --powder-blue: #A1C6EA;
  --platinum: #DAE3E5;
  --columbia-blue: #BBD1EA;
  --black-blue: #0D1320;
  --light-red: #FF6B6B;
  --naples-yellow: #FFE66D;
  --crimson: #D72638;
  --orange: #FF9F1C;
  --indigo-dye: #034078;
  --cerulean: #1282a2;
  --azure: #F2FDFF;
  --alice-blue: #DBE9EE;
  --indent: 4rem;
}

@media(max-width:1200px){
  :root{
    --indent: 2rem;
  } 
}

*{
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--black-blue);
}

*::-webkit-scrollbar-thumb {
  background-color: #263758;
}

header{
  text-transform: uppercase;
  margin: 0 var(--indent);
  margin-top: calc(var(--indent) / 2);
  transition: all 0.5s ease;
  padding: calc(var(--indent) / 8) calc(var(--indent) / 4);
}

.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border: solid 1px transparent;
  border-radius: 2px;
}

.scrolled{
  background-color: rgba(13,19,32,0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: solid 0.1rem rgba(80, 125, 188, 0.5);
}

.header-wrapper{
  width: 100%;
}

.header-component{
  padding: 0 1rem;
}

.header-component>*{
  font-size: 0.9rem;
}

.header-component a, .footer-nav a{
  transition: all ease 0.3s;
  cursor: pointer;
}

.header-component a{
  color: var(--platinum) !important; 
}

.header-component a:hover{
  opacity: 0.5;
}

.header-component:has(.theme-change-btn){
  padding: 0;
}

.header-component:first-child{
  position: absolute;
  left: 0;
}

.star{
  font-family: 'Life Savers', serif;
  text-transform: uppercase;
  text-shadow: var(--columbia-blue) 1px 0 20px;
  font-size: 1.5rem;
  background: var(--rich-black);
  width: 50px;
  height: 50px;
  position: relative;
  outline: solid 2px var(--glaucous);
  outline-offset: -2px;
}

.star:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background: var(--glaucous);
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  outline: dashed 2px var(--indigo-dye);
  outline-offset: 2px;
  transition: transform 0.7s ease;
}

.star:hover:before{
  transform: scale(50%);
}

.header-component:has(.star) a:hover{
  opacity: 1 !important;
  color: var(--platinum);
}

.header-component a.active{
  background-color: red;
}

.theme-change-btn{
  text-align: center;
  cursor: pointer;
  border: solid 0.1rem var(--glaucous);
  border-radius: 0.3rem;
  padding: 0.4rem;
  overflow: hidden;
  background-clip: border-box;
}

.theme-change-btn svg{
  width: 30px;
  height: 30px;
  color: var(--glaucous);
  transition: transform 0.5s ease-out;
}

.theme-change-btn:hover{
  border-color: var(--orange);
}

.theme-change-btn:hover svg{
  color: var(--orange);
  transform: rotate(90deg) scale(520%);
}

.section{
  min-height: 850px;
  padding: 0 var(--indent);
  margin-bottom: 150px;
  transition: padding 0.3s ease-out;
}

.section:has(.intro){
  padding-top: calc(var(--indent) * 3) !important;
}

@media (min-width: 1400px){
  .section{
    padding: 0 calc(var(--indent) * 2);
  }
}

.section>div{
  max-width: 550px;
  color: var(--platinum);
}

.intro{
  max-width: 700px !important;
}

.intro>h3{
  color: var(--platinum);
  font-weight: 300;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
}

.intro>h1{
  color: var(--glaucous);
  font-size: 4rem;
  font-weight: 700;
  margin-left: -4px;
}

.intro>h2 {
  color: rgba(80, 125, 188, 0.5) !important;
  font-size: 3.3rem !important;
  font-weight: 600 !important;
}

.intro>div{
  margin-top: 50px;
}

.intro>div>h3{
  color: var(--powder-blue);
  font-weight: 400;
  opacity: 0.5;
  margin: 0;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
}

a{
  text-decoration: none;
}

.resume-btn, .contact-btn, .home-btn{
  display: inline-block;
  width: 90px;
  color: var(--columbia-blue);
  border: solid 0.1rem var(--columbia-blue);
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: all .35s;
}

.curtain::before, .curtain::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: var(--powder-blue);
  z-index: -1;
  transition: all .35s;
}

.curtain::before{
  opacity: 0.5;
}

.curtain::after{
  transition-delay: 0.2s;
}

.curtain:hover{
  color: var(--rich-black);
  font-weight: 500;
}

.curtain:hover::before, .curtain:hover::after{
  top: 0;
}

.resume-break{
  color: var(--rich-black);
  width: 100%;
  margin-bottom: 150px;
  padding: 1.5rem;
  background-color: var(--glaucous);
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  word-spacing: 5px;
  background: var(--glaucous);
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.react-icon{
  display: none;
  font-size: 1.5rem;
  transform: scale(200%);
  overflow: hidden;
}

/* .resume-break::after, .resume-break::before{
  transition: all 500ms ease-in-out;
} */

.resume-break:hover{
  background-color: var(--powder-blue);
}

.resume-break::before{
  content: "view my resume";
}

.resume-break:hover .react-icon{
  display: inline-block;
}

.resume-break:hover:before {
  display: none;
}

.resume-btn:active, .contact-btn:active{
  transform: scale(105%);
}

.section-heading{
  opacity: 0.4;
  font-size: 0.9rem;
  user-select: none;
}

.section-heading::before, .section-heading::after{
  display: inline-block;
  padding: 0 3px;
  font-size: 1rem;
  content: "~";
}

.section-heading::after{
  transform: scale(-1, 1);
}

.section>div>h2{
  color: var(--glaucous);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.about>p{
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

.underline-slide{
  display: inline-block;
  position: relative;
  color: var(--glaucous);
  font-weight: 700;
  padding: 0 0.1rem;
  margin-bottom: -0.35rem;
  overflow: hidden;
}

.underline-slide::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--cerulean);
  transform: translate3d(-100%, 0, 0);
  transition:  transform 0.3s linear;
}

.underline-slide:hover::after, .underline-slide:focus::after{
  transform: translate3d(0, 0, 0);
}

.contact-btn{
  margin: 0;
}

.flippable-text{
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: var(--black-blue);
  padding: 30px;
  margin-top: 60px;
  opacity: 1;
  outline: 0;
}

.flippable-text:hover::after{
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.flippable-text:hover::before{
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.flippable-text::after{
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: block;
  transition: 0.7s;
  position: absolute;
  background: var(--indigo-dye);
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.flippable-text::before{
  top: 0;
  left: 0;
  opacity: 1;
  display: block;
  transition: 0.7s;
  position: relative;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}


.f-container{
  margin-top: 80px;
}

.f-container>p{
  word-spacing: 5px;
}

.frameworks>div{
  margin: 1rem 0.3rem;
}

.frameworks>div>img{
  width: 40px;
  height: 40px;
}

.frameworks>div>label{
  font-size: 0.9rem;
  color: var(--columbia-blue);
}

.tech-name{
  text-transform: capitalize;
}

/* .gradient{
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(ellipse at 50% 50%,#a1c6ea, #76a2d6, #507dbc);
  z-index: -1;
} */

/* .gradient__inner{
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  top: 100px;
  left: 100px;
  background-color: var(--black-blue);
} */

.projects{
  max-width: 100% !important;
  position: relative;
}

.container{
  position: relative;
  width: 100%;
}

@media(min-width: 1400px){
  .container{
    max-width: 1200px;
  }
}

.container button{
  background-color: var(--black-blue);
  color: var(--crimson);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: -1rem;
  border: solid 0.1rem rgba(187,209,234, 0.1);
  border-radius: 9999px;
}

.container button:active{
  transform: scale(105%);
}

.container .btn-left{
  left: -1rem;
}

.container button>svg{
  width: 40px;
  height: 40px;
}

.wrapper{
  position: relative;
  overflow: hidden;
  height: 500px;
  border: solid 0.1rem rgba(187,209,234, 0.3);
  border-radius: 5px;
}

.wrapper>a{
  text-decoration: none;
}

.wrapper>a>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: transform 0.3s ease-out;
  border-radius: 5px;
}

.wrapper>a>img:hover{
  /* opacity: 0.8; */
  transform: scale(105%);
}

.project-title{
  position: absolute;
  bottom: -10rem;
  left: 0px;
  background-color: var(--rich-black);
  color: var(--platinum);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.wrapper>a>img:hover ~ .project-title{
  opacity: 0;
}

.slick-slide{
  padding: 0.5rem;
  margin: 4rem 0;
}

.center .slick-center .wrapper{
  transform: scale(120%);
  z-index: 10;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  pointer-events: all;
}

.center .wrapper{
  opacity: 0.9;
  pointer-events: none;
}

@media(max-width: 1024){
  .center .slick-center .wrapper{
    transform: scale(100%);
  }

  .center .wrapper{
    opacity: 1;
    pointer-events: all;
  }
}

.contact>form>label{
  margin-top: 2rem;
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: var(--columbia-blue);
  opacity: 0.8;
  text-align: left !important;
}

.contact>form>input, textarea{
  color: var(--platinum);
  background-color: var(--rich-black);
  border: solid 0.1rem rgba(187,209,234, 0.3);
  border-radius: 0.15rem;
  padding: 0.6rem;
  font-size: 0.9rem;
  background-color: var(--black-blue);
  resize: none;
}

.contact>form>span{
  display: none;
  margin: 5px 0;
  color: var(--crimson);
  font-size: 0.8rem;
  word-spacing: 2px;
}

.contact>form>input:invalid[focused="true"], .contact>form>textarea:invalid[focused="true"]{
  outline: solid 0.11rem var(--crimson);
  border-color: red;
  box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.1), 0 0 20px rgba(255, 0, 0, 0.3);
}

.contact>form>input:invalid[focused="true"] + .inputSpan, .contact>form>textarea:invalid[focused="true"] + .txtSpan{
  display: flex;
}

.contact>form>span>svg{
  margin-right: 5px;
}

.contact>form>input:focus, .contact>form>textarea:focus{
  outline: solid 0.11rem rgb(0,102,255) !important;
  border-color: rgb(0,102,255) !important;
  box-shadow: inset 0 0 20px rgba(0, 102, 255, 0.2), 0 0 20px rgba(0, 102, 255, 0.3) !important;
}

.send-btn{
  background-color: var(--powder-blue);
  color: var(--black-blue);
  border: solid 0.1rem var(--powder-blue);
  border-radius: 0.1rem;
  margin-top: 2rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden
}

.send-btn::after{
  content: "";
  background-color: rgba(13,19,32,1);
  position: absolute;
  z-index: -1;
  display: block;
  transition: all 0.5s ease;
  left: -20%;
  right: -20%;
  bottom: 0;
  top: 0;
  transform: skewX(-45deg) scale(0, 1);
}

.send-btn:hover{
  color: var(--platinum);
  letter-spacing: 1px;
  transition: all 0.5s;
}

.send-btn:hover::after{
  transition: all 0.5s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.send-btn:active{
  transform-origin: 100% 50%;
  transform: scale(105%);
}

.pattern{
  background-image: url('/src/svg/pattern-background.svg');
  background-repeat: repeat;
  background-size: contain;
}

/* .pattern>.section{
  background-color: var(--rich-black);
} */

footer{
  margin: auto;
  width: 80%;
}

footer > *{
  margin-top: 1rem;
}

hr {
  margin: 20px 0;
  height: 1px;
  border: none;
  background: -moz-linear-gradient(left,  transparent 0%, rgb(187,209,234) 50%, transparent 100%);
  background: -webkit-linear-gradient(left,  transparent 0%,rgb(187,209,234) 50%,transparent 100%);
}

.footer-nav{
  width: 80%;
  margin: 0;
  line-height: 2rem;
  /* padding: 1rem 8rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1); */
}

.footer-nav>a{
  font-size: 0.85rem;
  margin: 0 1rem;
  color: rgba(187,209,234, 0.8);
}

.footer-nav>a:hover{
  color: var(--platinum);
  transform: scale(101%);
}

.socials > *{
  position: relative;
  margin: 0 0.4rem;
  cursor: pointer;
}

.socials>img:hover, .frameworks>div:hover{
  transform: scale(1.2);
  overflow: hidden;
}

.footer-credentials{
  font-weight: 500;
  color: var(--platinum);
  opacity: 0.2;
  font-size: 0.75rem;
  margin-bottom: 5px;
  word-spacing: 2.5px;
}

.footer-credentials:hover{
  color: var(--columbia-blue);
  opacity: 1;
}
