@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700&display=swap');

:root {
  --indent: 4rem;
}

@media(max-width:1200px){
  :root{
    --indent: 2rem;
  } 
}

*{
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
}

header{
  text-transform: uppercase;
  margin: 0 var(--indent);
  margin-top: calc(var(--indent) / 2);
  transition: all 0.5s ease;
  padding: calc(var(--indent) / 8) calc(var(--indent) / 4);
}

.fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border: solid 1px transparent;
  border-radius: 2px;
}

.scrolled{
  background-color: rgba(13,19,32,0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: solid 0.1rem rgba(var(--bg-tertiary-rgb), 0.5);
}

.scrolled>div>div:not(.not)>a{
  color: white !important;
}

.header-wrapper{
  width: 100%;
}

.header-component{
  padding: 0 1rem;
}

.header-component>*{
  font-size: 0.9rem;
}

.header-component a, .footer-nav a{
  transition: all ease 0.3s;
  cursor: pointer;
}

.header-component a{
  color: var(--font-primary) !important; 
}

.header-component a:hover{
  opacity: 0.5;
}

.header-component:has(.theme-change-btn){
  padding: 0;
}

.header-component:first-child{
  position: absolute;
  left: 0;
}

.star{
  font-family: 'Life Savers', serif;
  text-transform: uppercase;
  text-shadow: var(--font-tertiary) 1px 0 20px;
  font-size: 1.5rem;
  line-height: 0;
  background: var(--bg-main);
  width: 50px;
  height: 50px;
  position: relative;
  outline: solid 2px var(--bg-tertiary);
  outline-offset: -2px;
}

.star:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background: var(--bg-tertiary);
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  outline: dashed 2px var(--stroke-primary);
  outline-offset: 2px;
  transition: transform 0.7s ease;
}

.star:hover:before{
  transform: scale(0.5);
}

.header-component:has(.star) a:hover{
  opacity: 1 !important;
  color: var(--font-primary);
}

.header-component a.active{
  background-color: red;
}

.theme-change-btn{
  text-align: center;
  cursor: pointer;
  border: solid 0.1rem var(--bg-tertiary);
  border-radius: 0.3rem;
  padding: 0.4rem;
  overflow: hidden;
  background-clip: border-box;
}

.theme-change-btn svg{
  width: 30px;
  height: 30px;
  color: var(--bg-tertiary);
  transition: transform 0.5s ease-out;
}

.theme-change-btn:hover{
  border-color: var(--btn-theme-hover);
}

.theme-change-btn:hover svg{
  color: var(--btn-theme-hover);
  transform: rotate(90deg) scale(5.2);
}

.moon:hover svg{
  transform: rotate(90deg) scale(5.6) translate(8px);
}

.section{
  min-height: 850px;
  padding: 0 var(--indent);
  margin-bottom: 150px;
  transition: padding 0.3s ease-out;
}

.section:has(.intro){
  padding-top: calc(var(--indent) * 3) !important;
}

@media (min-width: 1400px){
  .section{
    padding: 0 calc(var(--indent) * 2);
  }
}

.section>div{
  max-width: 575px;
  color: var(--font-primary);
}

.intro{
  max-width: 700px !important;
}

.intro>h3{
  color: var(--font-primary);
  font-weight: 300;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
}

.intro>h1{
  color: var(--bg-tertiary);
  font-size: 4rem;
  font-weight: 700;
  margin-left: -4px;
}

.intro>h2 {
  color: rgba(var(--bg-tertiary-rgb), 0.5) !important;
  font-size: 3.3rem !important;
  font-weight: 600 !important;
}

.intro>div{
  margin-top: 50px;
}

.intro>div>h3{
  color: var(--font-secondary);
  font-weight: 400;
  opacity: 0.5;
  margin: 0;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
}

a{
  text-decoration: none;
}

.resume-btn, .contact-btn, .home-btn{
  display: inline-block;
  width: 90px;
  color: var(--font-tertiary);
  border: solid 0.1rem var(--font-tertiary);
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: all .35s;
}

.curtain::before, .curtain::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: var(--font-secondary);
  z-index: -1;
  transition: all .35s;
}

.curtain::before{
  opacity: 0.5;
}

.curtain::after{
  transition-delay: 0.2s;
}

.curtain:hover{
  color: var(--bg-main);
  font-weight: 500;
}

.curtain:hover::before, .curtain:hover::after{
  top: 0;
}

.break{
  position: relative;
  margin-bottom: 300px;
  overflow: hidden;
  height: 270px;
}

.spacer{
  position: absolute;
  width: 2300px;
  height: auto;
  transition: all 0.5s;
}

.spacer-bottom{
  bottom: 0;
  transform: scaleY(-1) scaleX(-1);
  -webkit-transform: scaleY(-1) scaleX(-1);
}

@media (max-width: 1200px) {
  .spacer{
    width: 2000px;
  }
}

@media (max-width: 600px) {
  .spacer{
    width: 2100px;
  }
}

.break div{
  z-index: 10000;
}

.resume-break{
  font-family: 'Life Savers', serif;
  color: var(--font-primary);
  padding: 0.6rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  word-spacing: 5px;
  letter-spacing: 5px;
}

.react-icon{
  display: none;
  font-size: 1.5rem;
  transform: scale(2);
  overflow: hidden;
}

.resume-btn:active, .contact-btn:active{
  transform: scale(1.05);
}

.section-heading{
  opacity: 0.4;
  font-size: 0.9rem;
  user-select: none;
}

.section-heading::before, .section-heading::after{
  display: inline-block;
  padding: 0 3px;
  font-size: 1rem;
  content: "~";
}

.section-heading::after{
  transform: scale(-1, 1);
}

.section>div>h2{
  color: var(--bg-tertiary);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.about>p{
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

.underline-slide{
  display: inline-block;
  position: relative;
  color: var(--bg-tertiary);
  font-weight: 700;
  padding: 0 0.1rem;
  margin-bottom: -0.35rem;
  overflow: hidden;
}

.underline-slide::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--stroke-secondary);
  transform: translate3d(-101%, 0, 0);
  transition:  transform 0.3s linear;
}

.underline-slide:hover::after, .underline-slide:focus::after{
  transform: translate3d(0, 0, 0);
}

.contact-btn{
  margin: 0;
}

.flippable-container{
  width: 100%;
  margin-top: 100px;
}

.flippable-card{
  width: 100%;
  height: 150px;
  position: relative;
  animation: flip_card 15s infinite;
  transform-style: preserve-3d;
}

@keyframes flip_card {
  55%  { transform: translateZ(0) rotateX(0deg);   }
  63%    { transform:  translateZ(75px) rotateX(-90deg); }
  93%  { transform:  translateZ(75px) rotateX(-90deg); }
  100%  { transform: translateZ(0) rotateX(0deg);   }
}

.face {
  width:100%;
  height:100%;
  color: var(--font-primary);
  position:absolute;
  backface-visibility:hidden;
  padding: 20px;
}

.face-front{
  background-color:var(--bg-secondary);
  transform: rotateY(0deg) translateZ(75px);
}

.face-top{
  background-color:var(--stroke-secondary);
  transform: rotateX(90deg) translateZ(75px);
 
}

.skills-container{
  margin-top: 80px;
}

.skills-container>p{
  word-spacing: 5px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.skill{
  margin: 1rem 1rem;
  user-select: none;
}

.skill>div>svg{
  width: 55px;
  height: 55px;
  shape-rendering: geometricPrecision;
  transition: color 0.5s ease-out;
}

.figma path{
  transition: fill 0.5s ease;
  transform: scale(0.99);
}

.figma:hover path:nth-of-type(1), div:has(.figma+label:hover) .figma>path:nth-of-type(1){
  fill: #1abcfe;
}

.figma:hover path:nth-of-type(2), div:has(.figma+label:hover) .figma>path:nth-of-type(2){
  fill: #0ACF83;
}

.figma:hover path:nth-of-type(3), div:has(.figma+label:hover) .figma>path:nth-of-type(3){
  fill: #FF7262;
}

.figma:hover path:nth-of-type(4), div:has(.figma+label:hover) .figma>path:nth-of-type(4){
  fill: #F24E1E;
}

.figma:hover path:nth-of-type(5), div:has(.figma+label:hover) .figma>path:nth-of-type(5){
  fill: #A258FF;
}

.bg-hover-false svg{
  color: var(--font-tertiary);
}

.skill-text{
  font-size: 0.9rem;
  line-height: 2rem;
  color: var(--font-primary);
  text-transform: capitalize;
}

/* .gradient{
  position: absolute;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(ellipse at 50% 50%,#a1c6ea, #76a2d6, #507dbc);
  z-index: -1;
} */

/* .gradient__inner{
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  top: 100px;
  left: 100px;
  background-color: var(--bg-secondary);
} */

.projects{
  max-width: 100% !important;
  position: relative;
}

.slider-container{
  position: relative;
  width: 100%;
}

@media(min-width: 1400px){
  .slider-container{
    max-width: 1200px;
  }
}

.slider-container button{
  background-color: var(--bg-secondary);
  color: var(--hr-break);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: -1rem;
  border: solid 0.1rem rgba(var(--border-font-tertiary-rgb), 0.1);
  border-radius: 9999px;
}

.slider-container button:active{
  transform: scale(1.05);
}

.slider-container .btn-left{
  left: -1rem;
}

.slider-container button>svg{
  width: 40px;
  height: 40px;
}

.project-wrapper{
  position: relative;
  overflow: hidden;
  height: 500px;
  border: solid 0.1rem rgba(var(--border-font-tertiary-rgb), 0.3);
  border-radius: 5px;
  transition: all 0.3s;
}

.project-wrapper>a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-tertiary);
  opacity: 0.4;
}

.slick-center .project-wrapper>a::before{
  background: none;
}

.guessdle:hover>a::after{
  background: url('../svg/guessdle-title.svg');
}

.movie-ranker:hover>a::after{
  background: url('../svg/movie-ranker-title.svg');
}

.portfolio:hover>a::after{
  background: url('../svg/portfolio-title.svg');
}

.project-wrapper:hover>a::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.project-wrapper>a::after{
  animation: slidein 1s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes slidein {
  from{
    margin-top: 30%;
  }

  to {
    margin-top: 0%;
  }
}


.project-wrapper>a>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all 0.4s ease-out;
  border-radius: 5px;
}

.project-wrapper:hover>a>img{
  transform: scale(1.05);
}

.slick-slide{
  padding: 0.5rem;
  margin: 4rem 0;
}

.center .slick-center .project-wrapper{
  transform: scale(1.2);
  z-index: 10;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  pointer-events: all;
}

.center .project-wrapper{
  opacity: 0.7;
  pointer-events: none;
}

.slick-center:hover .project-wrapper>a>img{
  filter: blur(2px);
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .center .slick-center .project-wrapper{
    transform: scale(1.15);
  }

  .project-wrapper{
    height: 400px;
  }
}

@media(max-width: 1024px){
  .project-wrapper>a::before{
    background: none;
  }

  .slick-slide:hover .project-wrapper>a>img{
    filter: blur(2px);
  }

  .center .project-wrapper{
    pointer-events: all;
  }
}

.section:has(.contact){
  min-height: 0;
  margin-top: 150px;
}

.contact{
  margin-right: 100px;
}

.section:has(.contact)>div>h2{
  font-weight: 600;
  margin: 0;
  font-size: 3.3rem;
  line-height: 0.9;
}

.email-fill{
  margin-top: 30px;
}

.email-fill>h5{
  color: var(--font-primary);
  font-weight: 300;
  font-size: 1.05rem;
  word-spacing: 0.1rem;
  margin-bottom: 50px;
  opacity: 0.4;
}

.email-fill a, .email-fill h6{
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--font-tertiary);
  opacity: 0.8;
  margin: 0;
  transition: all 0.5s;
}

.email-fill svg{
  width: 22px;
  height: auto;
}

.email-fill a:hover{
  color: #FFFFFF;
  opacity: 1;
}

.contact>form>label:first-child{
  margin-top: 0;
}

.contact>form>label{
  margin-top: 2rem;
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: var(--font-tertiary);
  opacity: 0.8;
  text-align: left !important;
}

.contact>form>input, textarea{
  width: 100%;
  color: var(--font-primary);
  background-color: var(--bg-secondary);
  border: solid 0.1rem rgba(var(--border-font-tertiary-rgb), 0.3);
  border-radius: 0.15rem;
  padding: 0.6rem;
  font-size: 0.9rem;
  resize: none;
}

.contact>form>span{
  display: none;
  margin: 5px 0;
  color: var(--outline-important);
  font-size: 0.8rem;
  word-spacing: 2px;
}

.contact>form>input:invalid[focused="true"], .contact>form>textarea:invalid[focused="true"]{
  outline: solid 0.11rem var(--outline-important);
  border-color: red;
  box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.1), 0 0 20px rgba(255, 0, 0, 0.3);
}

.contact>form>input:invalid[focused="true"] + .inputSpan, .contact>form>textarea:invalid[focused="true"] + .txtSpan{
  display: flex;
}

.contact>form>span>svg{
  margin-right: 5px;
}

.contact>form>input:focus, .contact>form>textarea:focus{
  outline: solid 0.11rem var(--outline-focus) !important;
  border-color: var(--outline-focus) !important;
  box-shadow: inset 0 0 20px rgba(0, 102, 255, 0.2), 0 0 20px rgba(0, 102, 255, 0.3) !important;
}

/* .stars-bg{
  position: relative;
  top: 0;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 24vw 9vh 1px 0px #fff,12vw -24vh 0px 1px #fff,-45vw -22vh 0px 0px #fff,-37vw -40vh 0px 1px #fff,29vw 19vh 0px 1px #fff,4vw -8vh 0px 1px #fff,-5vw 21vh 1px 1px #fff,-27vw 26vh 1px 1px #fff,-47vw -3vh 1px 1px #fff,-28vw -30vh 0px 1px #fff,-43vw -27vh 0px 1px #fff,4vw 22vh 1px 1px #fff,36vw 23vh 0px 0px #fff,-21vw 24vh 1px 1px #fff,-16vw 2vh 1px 0px #fff,-16vw -6vh 0px 0px #fff,5vw 26vh 0px 0px #fff,-34vw 41vh 0px 0px #fff,1vw 42vh 1px 1px #fff,11vw -13vh 1px 1px #fff,48vw -8vh 1px 0px #fff,22vw -15vh 0px 0px #fff,45vw 49vh 0px 0px #fff,43vw -27vh 1px 1px #fff,20vw -2vh 0px 0px #fff,8vw 22vh 0px 1px #fff,39vw 48vh 1px 1px #fff,-21vw -11vh 0px 1px #fff,-40vw 45vh 0px 1px #fff,11vw -30vh 1px 0px #fff,26vw 30vh 1px 0px #fff,45vw -29vh 0px 1px #fff,-2vw 18vh 0px 0px #fff,-29vw -45vh 1px 0px #fff,-7vw -27vh 1px 1px #fff,42vw 24vh 0px 0px #fff,45vw -48vh 1px 0px #fff,-36vw -18vh 0px 0px #fff,-44vw 13vh 0px 1px #fff,36vw 16vh 0px 1px #fff,40vw 24vh 0px 0px #fff,18vw 11vh 0px 0px #fff,-15vw -23vh 1px 0px #fff,-24vw 48vh 0px 1px #fff,27vw -45vh 1px 0px #fff,-2vw -24vh 0px 1px #fff,-15vw -28vh 0px 0px #fff,-43vw 13vh 1px 0px #fff,7vw 27vh 1px 0px #fff,47vw 5vh 0px 0px #fff,-45vw 15vh 1px 1px #fff,-5vw -28vh 0px 1px #fff,38vw 25vh 1px 1px #fff,-39vw -1vh 1px 0px #fff,5vw 0vh 1px 0px #fff,49vw 13vh 0px 0px #fff,48vw 10vh 0px 1px #fff,19vw -28vh 0px 0px #fff,4vw 7vh 0px 0px #fff,21vw 21vh 1px 1px #fff,-15vw -15vh 0px 1px #fff,-6vw -42vh 1px 0px #fff,-15vw 48vh 1px 1px #fff,-23vw 25vh 1px 1px #fff,-48vw 25vh 0px 1px #fff,-31vw -19vh 0px 1px #fff,4vw 37vh 1px 1px #fff,-43vw 28vh 0px 0px #fff,3vw -25vh 0px 1px #fff,-39vw 14vh 0px 1px #fff,-40vw 31vh 0px 1px #fff,35vw -36vh 1px 1px #fff,16vw 49vh 0px 0px #fff,6vw 39vh 0px 0px #fff,3vw -35vh 0px 1px #fff,-44vw -2vh 1px 0px #fff,-6vw 21vh 1px 0px #fff,48vw 9vh 1px 1px #fff,-43vw 30vh 1px 1px #fff,29vw -12vh 1px 1px #fff,-48vw 13vh 1px 0px #fff,-42vw 32vh 1px 1px #fff,34vw 15vh 1px 1px #fff,29vw -37vh 1px 1px #fff,28vw 2vh 0px 0px #fff;
  animation: zoom 16s alternate infinite; 
}

@keyframes zoom {
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.5);
  }
} */

.send-btn{
  background-color: var(--font-secondary);
  color: var(--bg-secondary);
  border: solid 0.1rem var(--font-secondary);
  border-radius: 0.1rem;
  margin-top: 2rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden
}

.send-btn::after{
  content: "";
  background-color: var(--bg-secondary);
  position: absolute;
  z-index: -1;
  display: block;
  transition: all 0.5s ease;
  left: -20%;
  right: -20%;
  bottom: 0;
  top: 0;
  transform: skewX(-45deg) scale(0, 1);
}

.send-btn:hover{
  color: var(--font-primary);
  letter-spacing: 1px;
  transition: all 0.5s;
}

.send-btn:hover::after{
  transition: all 0.5s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.send-btn:active{
  transform-origin: 100% 50%;
  transform: scale(1.05);
}

footer{
  margin: auto;
  width: 80%;
}

footer > *{
  margin-top: 1rem;
}

.section hr{
  margin-bottom: 150px;
}

hr {
  margin: 20px 0;
  height: 1px;
  border: none;
  background: -moz-linear-gradient(left,  transparent 0%, var(--hr-break) 50%, transparent 100%);
  background: -webkit-linear-gradient(left,  transparent 0%,var(--hr-break) 50%,transparent 100%);
}

.footer-nav{
  width: 80%;
  margin: 0;
  line-height: 2rem;
}

.footer-nav>a{
  font-size: 0.85rem;
  margin: 0 1rem;
  color: rgba(var(--border-font-tertiary-rgb), 0.8);
}

.footer-nav>a:hover{
  color: var(--font-primary);
}

.socials > *{
  position: relative;
  margin: 0 0.4rem;
  cursor: pointer;
}

.socials>a svg{
  color: var(--hr-break);
  height: 30px;
  width: auto;
  shape-rendering: geometricPrecision;
  transition: transform 0.3s;
}

.socials>a:hover svg{
  transform: scale(1.2);
  overflow: hidden;
}

.footer-credentials{
  font-weight: 500;
  color: var(--font-primary);
  opacity: 0.2;
  font-size: 0.75rem;
  margin-bottom: 5px;
  word-spacing: 2.5px;
}

.footer-credentials:hover{
  color: var(--font-tertiary);
  opacity: 1;
}

/* body:has(.loading-screen){
  overflow: hidden;
} */

.loading-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  animation: slide 1.5s;
  animation-delay: 0.5s;
}

@keyframes slide{
  from {
    top: 0;
  }

  to {
    top: -100vh;
  }
}